@import "variables.scss";

.content {
  padding: 10px 30px;
  display: flex;
  justify-content: center;
  padding-bottom: 70px;
  gap: 50px;
}

.anchors {
  display: flex;
  flex-direction: column;
  height: fit-content;
  gap: 15px;
  padding: 15px 10px;
  margin-top: 20px;
  border-radius: 10px;
  border: 1px solid gray;
}

@media (max-width: 400px) {
  .anchors {
    display: none;
  }
}

.anchor {
  text-decoration: underline;
}

.sections_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(200px, 80%, 500px);
  gap: 10px;
}

.section {
  width: 100%;
}
.section:not(:last-child) {
  padding-bottom: 40px;
  border-bottom: 2px solid lightgray;
}

.title {
  font-family: "Gloock", serif;
  font-size: 1.7em;
  margin-top: 20px;
  margin-bottom: 5px;
  letter-spacing: 1px;
}

.subtitle {
  font-family: "Gloock", serif;
  font-size: 1.2em;
  margin-top: 8px;
  font-weight: 500;
}

.list {
  list-style-position: outside;
  margin-bottom: 30px;
}

.item {
  margin-bottom: 5px;
  line-height: 27px;
}

.emphasis_yellow {
  color: $yellow;
  font-weight: bold;
}
.emphasis_green {
  color: $green;
  font-weight: bold;
}
.emphasis_red {
  color: $red;
  font-weight: bold;
}

.link, .blue_link {
  text-decoration: underline;
  color: $green;
  filter: brightness(0.7);
}
.link:active, .blue_link:active {
  filter: brightness(1);
}
.blue_link {
  color: #0000FF;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-bottom: 15px;
  user-select: none;
}

.letter {
  border: 2px solid lightgray;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(30px * 2/3);
  font-weight: bold;
  box-sizing: border-box;
  padding-bottom: 2px;

  background-color: $green;
  color: white;
  border-color: $green;
}

.correct {
  animation: reveal-correct 4.5s forwards;
  animation-iteration-count: infinite;
}

@keyframes reveal-correct {
  0% {
    transform: scaleY(1);
  }
  5% {
    transform: scaleY(0);
  }
  10% {
    transform: scaleY(1);
  }

  100% {
    transform: scaleY(1);
  }
}

.paragraph {
  margin-bottom: 0;
  line-height: 27px;
}

.subheading {
  font-family: "Gloock", serif;
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 0;
}

.technology {
  font-weight: 600;
}
